# Base URL for the application
BASE_URL=https://sprightly-travesseiro-0bd724.netlify.app

# Admin credentials
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_password_here

# Add other user types as needed
# USER_EMAIL=user@example.com
# USER_PASSWORD=user_password_here
